<!doctype html>
<!-- 
 * (C) Azul Systems 2017-2023, author Ruslan Scherbakov
 * 
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 * * Redistributions of source code must retain the above copyright notice, this
 *   list of conditions and the following disclaimer.
 * 
 * * Redistributions in binary form must reproduce the above copyright notice,
 *   this list of conditions and the following disclaimer in the documentation
 *   and/or other materials provided with the distribution.
 * 
 * * Neither the name of [project] nor the names of its
 *   contributors may be used to endorse or promote products derived from
 *   this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 * OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<html>
<head>
<meta charset="utf-8">
<title>Tussle Viewer</title>
<script src="js/angular.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/angular-chart.min.js"></script>
<script src="js/utils.js"></script>
<script src="js/app.js"></script>
<script src="js/data.js"></script>
<script src="js/data1.js"></script>
<script src="js/data2.js"></script>
<script src="js/data3.js"></script>
<script src="js/data4.js"></script>
<script src="js/data5.js"></script>
<script src="js/data6.js"></script>
<script src="js/data7.js"></script>
<script src="js/data8.js"></script>
<script src="js/data9.js"></script>
<!-- <link rel="stylesheet" href="css/angular-material.css" type="text/css" /> -->
<link rel="stylesheet" href="css/app.css" type="text/css" />
</head>
<body ng-app="ISVViewerApp" ng-controller="ISVViewerCtrl" ng-init="appInit()">
    <div ng-cloak class="overlay" ng-show="isLoading">{{lastOperationStatus}} ({{isLoading}})</div>
    <div ng-cloak class="top_left" ng-show="!isLoading && lastOperationStatus">{{lastOperationStatus}}</div>
    <div ng-show="display == 'PORTAL'" ng-cloak>
        <h4>ISV PORTAL</h4>
        <div layout="column">
            <table class="table table-bordered pointer">
                <thead>
                    <tr>
                        <th><input type="checkbox" ng-model="reports.allSelected" ng-click="reports.applyAllSelected()"></th>
                        <th>Type</th>
                        <th>Report</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="report in reports track by $index"
                        class="{{report.selected ? 'row_selected' : ''}}">
                        <td><input type="checkbox" ng-model="report.selected" id="checkbox_{{report._id}}" ng-click="reports.fixAllSelected()"></td>
                        <td><span ng-class="'link'" ng-click="openReport(report)">{{report.type}}</span></td>
                        <td><span ng-class="'link'" ng-click="openReport(report)">{{report.name}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-show="display == 'SEARCH'" ng-cloak>
        <div>Base res_dir: <span ng-class="'link'" ng-click="openResultsDir($event, foundResultsPath)" class="common_toggle">{{foundResultsPath}}</span></div>
        <br/>
        <toggle bind-var="splitPaths" bind-name="Split paths" bind-class="noselect">_</toggle>
        <toggle bind-var="wrapPaths" bind-name="Wrap paths" bind-class="noselect">_</toggle>
        <br/>
        <br/>
        <table class="table table-bordered pointer">
            <thead>
            </thead>
            <tbody>
                <tr bgcolor="lightgray">
                    <th><input type="checkbox" ng-model="foundResults.allSelected" ng-click="foundResults.applyAllSelected()"></th>
                    <th align="left"
                        ng-repeat="headerProperty in (splitPaths ? searchHeaderPropertiesSplit : searchHeaderProperties)"
                        ng-click="sortSearchItems(headerProperty)">{{headerName(headerProperty)}}{{sortDirLabel[headerProperty]}}</th>
                </tr>
                <tr ng-repeat="item in foundResults track by $index" class="{{item.selected ? 'row_selected' : ''}}"
                    ng-click="item.selected = !item.selected; foundResults.fixAllSelected();" >
                    <td><input type="checkbox" ng-model="item.selected" id="checkbox_{{item._id}}" ng-click="foundResults.fixAllSelected(); $event.stopPropagation();"></td>
                    <td ng-if="!splitPaths"><span ng-class="wrapPaths ? 'link' : 'link nowrap'" ng-click="openResultsDir($event, item.results_dir)">{{item.results_dir_short}}</span></td>
                    <td ng-if="splitPaths" ng-repeat="pathElem in item.results_dir_elems track by $index">
                        <span ng-if="pathElem.name"
                            ng-class="wrapPaths ? 'toggle toggle_small toggle_small_selected wrap' : 'toggle toggle_small toggle_small_selected nowrap'" ng-click="openResultsDir($event, pathElem.path)">
                            {{pathElem.name}}/
                        </span>
                    </td>
                    <td><span>{{item.id}}</span></td>
                    <td><span>{{item.host}}</span></td>
                    <td><span>{{item.benchmark}}</span></td>
                    <td><span ng-class="wrapPaths ? '' : 'nowrap'">{{item.config == item.results_dir ? 'resdir' : item.config}}</span></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <input type="checkbox" id="checkbox_nosort" ng-model="noSortMetrics" ng-click="">
        <label for="checkbox_nosort">Do not sort rows in the report</label><br/>
        <input type="checkbox" id="checkbox_useids" ng-model="useIDs" ng-click="">
        <label for="checkbox_useids">Use IDs</label><br/>
        <br/>
        <input type="checkbox" id="checkbox_showall" ng-model="showAllMetrics" ng-click="showAllCharts = false; showAllValues = false; showDefaultValues = false; showCustomValues=false;">
        <label for="checkbox_showall">Show all metrics in the report (show=all)</label>
        <br/>
        <input type="checkbox" id="checkbox_show_charts" ng-model="showAllCharts" ng-click="showAllMetrics = false; showAllValues = false; showDefaultValues = false; showCustomValues=false;">
        <label for="checkbox_show_charts">Show charts only in the report (show=allcharts)</label>
        <br/>
        <input type="checkbox" id="checkbox_show_values" ng-model="showAllValues" ng-click="showAllMetrics = false; showAllCharts = false; showDefaultValues = false; showCustomValues=false;">
        <label for="checkbox_show_values">Show values only in the report  (show=allvalues)</label>
        <br/>
        <input type="checkbox" id="checkbox_show_default" ng-model="showDefaultValues" ng-click="showAllMetrics = false; showAllCharts = false; showAllValues = false; showCustomValues=false;">
        <label for="checkbox_show_default">Show default metrics (show=)</label>
        <br/>
        <input type="checkbox" id="checkbox_show_custom" ng-model="showCustomValues" ng-click="showAllMetrics = false; showAllCharts = false; showAllValues = false; showDefaultValues=false;">
        <label for="checkbox_show_custom">Custom show=</label><input type="text" id="checkbox_show_custom2" ng-model="showCustomTest">
        <br/>
        <input type="checkbox" id="checkbox_show_filter" ng-model="filterValues">
        <label for="checkbox_show_filter">Apply filter=</label><input type="text" id="checkbox_show_filter2" ng-model="filterText">
        <br/>
        <input type="checkbox" id="checkbox_show_opts" ng-model="optsValues">
        <label for="checkbox_show_opts">Apply opts=</label><input type="text" id="checkbox_show_opts2" ng-model="optsText">
        <br/>
        <button ng-click="openSearchResults($event)">Open ISV Table Report</button>
        <button ng-click="openSearchResults($event, null, null, true)">Open ISV Summary Report</button>
    </div>
    <div ng-show="display == 'RUNS'" ng-cloak>
        <div layout="column">
            <div layout="row">
                <div> 
                <select
                    ng-model="selectedBenchmark">
                    <option ng-repeat="benchmark in benchmarks" ng-value="benchmark.name">{{benchmark.name}}</option>
                </select>
                </div>
                <div>
                    <button class="raised" ng-click="showRuns()">Reload</button>
                </div>
            </div>
            <table class="table noselect">
                <tbody>
                    <tr class="toggles">
                        <td>Hosts:</td>
                        <td>
                            <toggle bind-var="hosts.allSelected" bind-name="all" on-toggle="filterUpdate(hosts)" bind-class="circle toggle_small">_all_</toggle>
                            <toggle ng-repeat="host in hosts" bind-var="host.selected" bind-name="{{host.name}} ({{host.count}})" on-toggle="getRunList()">_host_</toggle>
                        </td>
                    </tr>
                    <tr class="toggles">
                        <td>Workloads:</td>
                        <td>
                            <toggle bind-var="workloads.allSelected" bind-name="all" on-toggle="filterUpdateAllWorkload()" bind-class="circle toggle_small">_all_</toggle> 
                            <toggle ng-repeat="workload in workloads" bind-var="workload.selected" bind-name="{{workload.name}} ({{workload.count}})" on-toggle="getRunList()">_wls_</toggle>
                        </td>
                    </tr>
                    <tr class="toggles">
                        <td>Applications:</td>
                        <td>
                            <toggle bind-var="apps.allSelected" bind-name="all" on-toggle="filterUpdate(apps)" bind-class="circle toggle_small">_all_</toggle>
                            <toggle ng-repeat="app in apps" bind-var="app.selected" bind-name="{{app.name}}" on-toggle="filterRunList()">_app_</toggle>
                        </td>
                    </tr>
                    <tr class="toggles">
                        <td>Times:</td>
                        <td>
                            <toggle bind-var="times.allSelected" bind-name="all" on-toggle="filterUpdate(times)" bind-class="circle toggle_small">_all_</toggle>
                            <toggle ng-repeat="time in times" bind-var="time.selected" bind-name="{{time.name}}" on-toggle="filterRunList()">_time_</toggle>
                        </td>
                    </tr>
                    <tr class="toggles">
                        <td>VMs:</td>
                        <td>
                            <toggle bind-var="vms.allSelected" bind-name="all" on-toggle="filterUpdate(vms)" bind-class="circle toggle_small">_all_</toggle>
                            <toggle ng-repeat="vm in vms" bind-var="vm.selected" bind-name="{{vm.name}}" on-toggle="filterRunList()">_vm_</toggle>
                        </td>
                    </tr>
                    <tr class="toggles">
                        <td>Heaps:</td>
                        <td>
                            <toggle bind-var="heaps.allSelected" bind-name="all" on-toggle="filterUpdate(heaps)" bind-class="circle toggle_small">_all_</toggle>
                            <toggle ng-repeat="heap in heaps" bind-var="heap.selected" bind-name="{{heap.name}}" on-toggle="filterRunList()">_heap_</toggle>
                        </td>
                    </tr>
                    <tr class="toggles">
                        <td>Builds:</td>
                        <td><toggle bind-var="builds.allSelected" bind-name="all"
                                on-toggle="filterUpdate(builds)"
                                bind-class="circle toggle_small">_all_</toggle>
                            <toggle
                                ng-repeat="build in builds" bind-var="build.selected"
                                bind-name="{{build.name}}" on-toggle="filterRunList()">_build_</toggle>
                        </td>
                    </tr>
                    <tr class="toggles">
                        <td>Configs:</td>
                        <td><toggle bind-var="configs.allSelected" bind-name="all"
                                on-toggle="filterUpdate(configs)"
                                bind-class="circle toggle_small">_all_</toggle>
                            <toggle bind-var="anyConfigsSelected" bind-name="any"
                                on-toggle="filterRunList()" bind-class="circle toggle_small">_and_</toggle>
                            <toggle ng-repeat="config in configs" bind-var="config.selected"
                                bind-name="{{config.name}}" on-toggle="filterRunList()">_config_</toggle>
                        </td>
                    </tr>
                    <tr class="toggles">
                        <td>Params:</td>
                        <td><toggle
                                bind-var="paramsTwoLevel.allSelected"
                                bind-name="all" on-toggle="filterUpdate(paramsTwoLevel)"
                                bind-class="circle toggle_small">_all_</toggle>
                            <span
                                ng-repeat="param in paramsTwoLevel"> 
                            <toggle
                                bind-var="param.selected"
                                bind-name="{{param.name}}"
                                on-toggle="filterRunList()">_param_</toggle>
                            <span ng-show="param.selected && param.subs.length > 1">
                                <toggle
                                    bind-class="toggle_small circle"
                                    bind-var="param.subs.allSelected" bind-name="all"
                                    on-toggle="filterUpdate(param.subs)">_all_</toggle> <toggle
                                    bind-class="toggle_small" ng-repeat="paramSub in param.subs"
                                    bind-var="paramSub.selected" bind-name="{{paramSub.name}}"
                                    on-toggle="filterRunList()">_paramsub_</toggle>
                            </span>
                            </span>
                         </td>
                    </tr>
                    <tr class="toggles">
                        <td class="nowrap">Group by:</td>
                        <td><toggle ng-repeat="toggle in groupByToggles"
                                bind-var="toggle.selected" bind-name="{{toggle.name}}">_host_</toggle>
                        </td>
                    </tr>
                    <tr class="toggles">
                        <td class="nowrap">Separate by:</td>
                        <td><toggle ng-repeat="toggle in separateByToggles"
                                bind-var="toggle.selected" bind-name="{{toggle.name}}">_host_</toggle>
                        </td>
                    </tr>
                    <tr class="toggles">
                        <td class="nowrap">Show:</td>
                        <td><input type="text" ng-model="showOptions"></td>
                    </tr>
                </tbody>
            </table>
            <!-- FILTERED RUNS  -->
            <table class="table table-bordered pointer">
                <thead>
                    <tr>
                        <th>{{visibleRuns.length}} / {{runs.length}}</th>
                        <th><input type="checkbox" ng-model="visibleRuns.allSelected"
                            ng-click="visibleRuns.applyAllSelected()"></th>
                        <th ng-repeat="headerProperty in resultsHeaderProperties"
                            ng-click="sortRunItems(headerProperty)">{{headerName(headerProperty)}}{{sortDirLabel[headerProperty]}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in visibleRuns track by $index"
                        class="{{item.selected ? 'row_selected' : ''}}">
                        <td><button ng-click="moveItem(visibleRuns, $index, -1)">up</button>
                            <button ng-click="moveItem(visibleRuns, $index, 1)">down</button></td>
                        <td><input type="checkbox" ng-model="item.selected"
                            id="checkbox_{{item._id}}"
                            ng-click="visibleRuns.fixAllSelected()"></td>
                        <td ng-repeat="headerProperty in resultsHeaderProperties"
                            ng-click="item.selected = !item.selected; visibleRuns.fixAllSelected()">
                            <span ng-if="headerProperty != 'results_dir' && headerProperty != '_id'">{{item | field:headerProperty}}</span> 
                            <span ng-if="headerProperty == '_id'"
                                ng-class="item[headerProperty] ? 'link' : ''"
                                ng-click="openID($event, item[headerProperty])">{{item[headerProperty]}}</span>
                            <span ng-if="headerProperty == 'results_dir'"
                                ng-class="item[headerProperty] ? 'link' : ''"
                                ng-click="openResultsDir($event, item[headerProperty])">{{item[headerProperty] ? 'res' : 'n/a' }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div layout="row">{{ visibleRuns.joinSelected('_id', ',') + (showOptions ? ('&show=' + showOptions) : '') }}</div>
            <div layout="row">
                <!-- REPORT BUTTONS  -->
                <div>
                <!-- <button class="raised" ng-click="setReportFlag(true)">Set Report Flag</button>
                    <button class="raised" ng-click="setReportFlag(false)">Clear Report Flag</button>
                    <button class="raised" ng-click="openHighLevelSummaryReport($event)">Performance Report</button> -->
                    <button class="raised" ng-click="openDetailedReport($event, 0)">Compare with First Run</button>
                    <button class="raised" ng-click="openDetailedReport($event, 1)">Compare with Previous</button>
                    <button class="raised" ng-click="openDetailedReport($event, 2)">Compare with 2nd Previous</button>
                    <button class="raised" ng-click="openDetailedReport($event, 0, null, true)">Summary Report</button>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div> 
    <div ng-show="display == 'SUMMARY' || display == 'TABLE' || display == 'REPORT'" ng-cloak>
        <span ng-repeat="item in report" ng-show="!item.visible || item.visible()" ng-class="item.cls + (item.sticky ? 'sticky' : '')">
            <span ng-if="item.logo" ng-class="item.cls">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="112.203" height="48" viewBox="0 0 112.203 48">
                  <defs>
                    <linearGradient id="a" x1="1" y1="0.5" x2="0" y2="0.5" gradientUnits="objectBoundingBox">
                      <stop offset="0.009" stop-color="#0e1f60"/>
                      <stop offset="0.186" stop-color="#233e92"/>
                      <stop offset="0.561" stop-color="#0081b4"/>
                      <stop offset="1" stop-color="#87d3eb"/>
                    </linearGradient>
                    <linearGradient id="c" x1="0.02" y1="1.017" x2="0.882" y2="-0.102" xlink:href="#a"/>
                  </defs>
                  <g transform="scale(0.4 0.4)"><g transform="translate(-322.42 -38.371)">
                    <g transform="translate(358.305 52.592)">
                      <path d="M362.076,54.086v.279l19.881.409-19.881.409V55.8l19.881.409-19.881.409v.615l19.881.409-19.881.409v.615l19.881.409-19.881.409v.615l19.881.409-19.881.409v.3h25.593V54.086Z" transform="translate(-362.076 -54.086)" fill="url(#a)"/>
                    </g>
                    <g transform="translate(322.42 38.371)">
                      <g transform="translate(43.585 39.199)">
                        <path d="M376.032,81.69l-.156.2,10.543.46-11.279.493-.334.431,11.613.48-12.379.512-.3.393,12.683.5-13.48.531-.276.357,13.756.516-14.577.547-.25.323,14.827.534-15.676.565-.158.2h17.829V81.69Z" transform="translate(-370.585 -81.69)" fill="url(#a)"/>
                      </g>
                      <g transform="translate(35.885 22.127)">
                        <path d="M372.948,79.857l12.864-17.034h-.556L371.921,79.048l12.253-16.225h-.609L370.9,78.239l11.642-15.416h-.663L369.869,77.43,380.9,62.823h-.717l-11.341,13.8,10.421-13.8h-.771l-10.676,12.99,9.81-12.99h-.617L362.076,81.808V86.95h6.448l19.107-24.126h-.684Z" transform="translate(-362.076 -62.823)" fill="url(#c)"/>
                      </g>
                      <path d="M355.221,86.082a12.26,12.26,0,0,1-4.1.513c-3.466,0-6.146-1.634-7.257-5.165H343.8c-1.046,1.962-3.726,5.165-10.526,5.165-7.061,0-10.853-3.465-10.853-8.761,0-7.845,8.042-10.134,16.8-10.134h4.119V66.262c0-3.335-2.027-5.557-6.081-5.557-3.4,0-5.557,1.7-5.884,4.445H323.27c.523-7.256,6.146-11.245,14.449-11.245,9.349,0,14.318,4.9,14.318,13.011v10.33c0,1.308.588,1.961,1.5,1.961a4.03,4.03,0,0,0,1.634-.327ZM343.342,74.631V72.6H338.7c-4.773,0-7.585,1.373-7.585,4.184,0,2.092,1.57,3.269,4.642,3.269C340.466,80.058,343.342,77.181,343.342,74.631Z" transform="translate(-322.42 -39.848)" fill="#091a31"/>
                      <path d="M445.143,84.5a12.092,12.092,0,0,1-4.2.618c-5.23,0-7.911-3.138-7.911-8.826V38.371h8.957v37.4c0,1.242.654,1.961,1.569,1.961a3.954,3.954,0,0,0,1.569-.327Z" transform="translate(-332.939 -38.371)" fill="#091a31"/>
                      <path d="M427.047,78.915a3.953,3.953,0,0,1-1.569.327c-.916,0-1.569-.718-1.569-1.961V54.267H414.9V72.18c0,3.989-2.55,6.669-5.885,6.669-3.6,0-5.492-2.354-5.492-6.08v-18.5H394.5V74.862c0,6.6,3.727,11.768,11.05,11.768a11.9,11.9,0,0,0,9.842-5.252c.957,3.412,3.465,5.252,7.468,5.252a12.056,12.056,0,0,0,4.191-.618Z" transform="translate(-329.275 -39.883)" fill="#091a31"/>
                    </g>
                  </g></g>
                </svg>
            </span>
            <span ng-if="item.label" ng-class="item.cls">{{ item.label }}</span>
            <span ng-if="item.html" ng-bind-html="item.html | trust"></span>
            <span ng-if="item.charts" ng-repeat="chart in item.charts track by $index" class="container">
                <toggle bind-class="toggle_small noselect"
                    bind-var="chart.options.elements.line.fill" bind-name="fill">_fill_</toggle>
                <toggle bind-class="toggle_small noselect"
                    bind-var="chart.options.nums" bind-name="num"
                    on-toggle="chart.labelsSet.toggleLabels(chart)"
                    ng-if="chart.labelsSet">_nums_</toggle>
                <toggle bind-class="toggle_small noselect"
                    bind-var="chart.options.loga" bind-name="log"
                    on-toggle="chart.labelsSet.toggleLoga(chart)"
                    ng-if="chart.labelsSet">_loga_</toggle>
                <toggle bind-class="toggle_small noselect"
                    bind-event="chart.options.csvEvent"
                    bind-var="chart.options.csv" bind-name="csv"
                    on-toggle="chart.labelsSet.toggleCsv(chart)"
                    ng-if="chart.labelsSet">_csv_</toggle>
                <toggle bind-class="toggle_small noselect"
                    ng-repeat="ibutton in chart.options.ibuttons"
                    bind-var="ibutton.pressed" bind-name="{{ibutton.name}}">_ttt_</toggle>
                <div class="{{wide_charts ? 'chart-box-wide' : 'chart-box-normal'}} offset_chart">
                    <canvas id="chart.id" class="char chart-line"
                        chart-data="chart.data" chart-dataset-override="chart.datasets"
                        chart-colors="chart.colors" chart-labels="chart.labels"
                        chart-options="chart.options"></canvas>
                </div>
            </span>
            <span ng-if="item.toggles">
                <table class="table noselect">
                    <tbody>
                        <tr class="toggles">
                            <td><toggle ng-repeat="toggle in item.toggles"
                                    ng-show="{{toggle.visible}}"
                                    bind-class="{{toggle.style}} noselect" bind-var="toggle.selected"
                                    bind-name="{{toggle.name}}">_toggle_</toggle></td>
                        </tr>
                    </tbody>
                </table>
            </span>
            <span ng-if="item.buttons">
                <push-button ng-repeat="button in item.buttons"
                    bind-class="push-button noselect" on-click="button.onClick($event)"
                    bind-name="{{button.name}}">_button_</push-button>
            </span>
            <span ng-if="item.hidingToggles">
                <toggle bind-var="item.displayToggles.show"
                    ng-show="item.displayToggles.name"
                    bind-name="{{item.displayToggles.name}}"
                    class="noselect">_details_</toggle>
                <table class="table noselect" ng-show="item.displayToggles.show">
                    <tbody>
                        <tr class="toggles">
                            <td>
                                <span ng-repeat="toggle in item.hidingToggles">
                                    <div ng-show="toggle.togglesFilter">
                                        {{toggle.name}}: <input ng-if="toggle.togglesFilter" type="text" ng-model="toggle.togglesFilter.value" ng-change="toggle.togglesFilter.onChange($event.target.value)">
                                        <span class="right" ng-if="toggle.togglesFilter.pin">
                                            <toggle
                                                ng-show="toggle.visible"
                                                bind-class="toggle_small noselect"
                                                bind-var="item.sticky" bind-name="pin" />
                                        </span>
                                        <span ng-repeat="toggle in toggle.togglesFilter.toggles">
                                            <toggle-del
                                                ng-show="toggle.visible"
                                                bind-class="{{toggle.style}} noselect" 
                                                bind-var="toggle.selected"
                                                on-del="toggle.remove(toggle)"
                                                bind-name="{{toggle.name}}"
                                                on-toggle="toggle.toggle(toggle)">_toggle_</toggle-del>
                                        </span>
                                    </div>
                                    <toggle ng-if="toggle.style != 'toggle_separator' && toggle.style != 'toggle_label' && toggle.style != 'toggle_filter' && toggle.name"
                                        ng-show="toggle.visible"
                                        bind-class="toggle_small noselect {{toggle.style}}"
                                        bind-var="toggle.selected"
                                        bind-name="{{toggle.name}}"
                                        on-toggle="toggle.toggle(toggle)">_toggle_</toggle>
                                    <br ng-if="toggle.style == 'toggle_separator'" />
                                    <span ng-if="toggle.style == 'toggle_label'">{{toggle.name}}: </span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </span>
            <span ng-if="item.table && item.displayTable.show" ng-class="item.cls">
                <table class="table table-bordered" width="{{item.table_width}}">
                <caption ng-if="item.table_caption" class="table_caption">{{item.table_caption}}</caption>
                <thead></thead>
                <tbody>
                    <tr ng-repeat="row in item.table track by row.position"
                        ng-show="!row.visible || row.visible()">
                        <!-- <td>{{row.position}}</td> -->
                        <td ng-repeat="field in row track by $index"
                            ng-show="!field.visible || field.visible()" ng-class="field.cls"
                            ng-attr-title="{{field.tooltip}}">
                            <toggle bind-class="toggle_small noselect"
                                bind-name="hide"
                                on-toggle="row.hide()"
                                ng-if="$index == 0 && row.hide">_hide_</toggle>
                            <div ng-if="field.charts"
                                ng-repeat="chart in field.charts track by $index"
                                class="container">
                                <toggle bind-class="toggle_small noselect"
                                    bind-var="chart.options.nums" bind-name="num"
                                    on-toggle="chart.labelsSet.toggleLabels(chart)">_nums_</toggle>
                                <toggle bind-class="toggle_small noselect"
                                    bind-var="chart.options.loga" bind-name="log"
                                    on-toggle="chart.labelsSet.toggleLoga(chart)">_loga_</toggle>
                                <toggle bind-class="toggle_small noselect"
                                    bind-event="chart.options.csvEvent" 
                                    bind-var="chart.options.csv" bind-name="csv"
                                    on-toggle="chart.labelsSet.toggleCsv(chart)">_csv_</toggle>
                                <toggle bind-class="toggle_small noselect"
                                    ng-repeat="ibutton in chart.options.ibuttons"
                                    bind-var="ibutton.pressed" bind-name="{{ibutton.name}}"
                                    on-toggle="ibutton.toggle(chart)">_ttt_</toggle>
                                <div class="offset_chart" ng-style="{width: chartWidth + 'px', height: chartHeight + 'px'}">
                                    <canvas id="chart.id" class="chart chart-line"
                                        chart-data="chart.data"
                                        chart-dataset-override="chart.datasets"
                                        chart-colors="chart.colors" chart-labels="chart.labels"
                                        chart-options="chart.options"></canvas>
                                </div>
                            </div>
                            <span ng-if="field.values"
                                ng-show="!fvalue.visible || fvalue.visible()"
                                ng-repeat="fvalue in field.values track by $index"> <span
                                ng-class="fvalue.cls" ng-click="fvalue.onClick()"
                                ng-attr-title="{{fvalue.tooltip}}">{{fvalue.value}}</span><span
                                ng-if="fvalue.space">{{fvalue.space}}</span><br
                                ng-if="fvalue.br" /></span> 
                            <span ng-if="!field.values"
                                ng-click="field.onClick()" ng-attr-title="{{field.tooltip}}">{{field.value}}</span>
                            <span ng-if="field.comparisonBase"
                                ng-attr-title="Comparison base column">*</span>
                            <span
                                ng-if="field.compareWith"
                                ng-attr-title="Select this column as base for comparison"
                                class="link" ng-click="field.compareWith()">^</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
                </table>
                <br/>
            </span>
            <div ng-if="item.vspace" class="vspace"> </div>
        </span>
        <br />
    </div>
    </div>
    <br/>
    <!-- <div>* - compare value with this marked configuration</div> -->
</body>
</html>
